In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
260,tt1041829,40000000,317375031,The Proposal,Sandra Bullock|Ryan Reynolds|Mary Steenburgen|...,Anne Fletcher,Here comes the bribe...,When she learns she's in danger of losing her ...,108,Comedy|Romance|Drama,Touchstone Pictures|Mandeville Films|Kurtzman/...,6/1/2009,6.7,2009
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,5.9,2002
796,tt1634122,45000000,160078586,Johnny English Reborn,Rowan Atkinson|Dominic West|Gillian Anderson|R...,Oliver Parker,Laugh at the face of danger,Johnny English Reborn is a 2011 British spy co...,101,Crime|Adventure|Action|Comedy|Thriller,Universal Pictures,9/15/2011,6.0,2011
57,tt2381941,50100000,153962963,Focus,Will Smith|Margot Robbie|Rodrigo Santoro|Rober...,Glenn Ficarra|John Requa,Never Drop The Con.,"A veteran grifter takes a young, attractive wo...",105,Romance|Comedy|Crime|Drama,Kramer & Sigman Films|RatPac-Dune Entertainmen...,2/25/2015,6.7,2015
1813,tt0195714,23000000,53302314,Final Destination,Devon Sawa|Ali Larter|Kerr Smith|Tony Todd|Sea...,James Wong,No accidents. No coincidences. No escapes. You...,After a teenager has a terrifying vision of hi...,98,Horror,New Line Cinema|Zide-Perry Productions|Hard Ei...,3/16/2000,6.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

'''The format of the time given in the dataset is changed to datetime'''
from datetime import datetime
def date_format(date_str):
    date = datetime.strptime(date_str, "%m/%d/%Y")
    return date

data['release_date']=data['release_date'].apply(date_format)


'''New column "profit" is added'''
def profit(revenue, budget):
    return revenue - budget
    
data['profit']=data.apply(lambda x: profit(x['revenue'], x['budget']), axis=1)

In [6]:
'''The function for dictionary ganeration'''
def generate_dict(dictionary, key, value=1):
    if key in dictionary.keys():
        dictionary[key] += value
    else:
        dictionary[key] = value
    return dictionary

'''The function for determining a key with maximal value in a dictionary'''
def max_value(dictionary):
    max_val = {}
    for key, value in dictionary.items():
        if value == max(dictionary.values()):
            max_val[key] = value
    return max_val

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения
data.sort_values('budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # "+"

In [12]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

ВАРИАНТ 2

In [13]:
data.sort_values('runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # "+"

In [15]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

ВАРИАНТ 2

In [16]:
data.sort_values('runtime').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [17]:
answers['4'] = '110' # "+"

In [18]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [19]:
answers['5'] = '107' # "+"

In [20]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)' # "+"

In [22]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

ВАРИАНТ 2

In [23]:
data.sort_values('profit', ascending=False)[
    ['original_title', 'imdb_id']].head(1)

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [24]:
answers['7'] = 'The Lone Ranger (tt1210819)' # "+"

In [25]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

ВАРИАНТ 2

In [26]:
data.sort_values('profit')[['original_title', 'imdb_id']].head(1)

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [27]:
answers['8'] = '1478' # "+"

In [28]:
data[data.profit > 0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   datetime64[ns]
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 184.8+ KB

ВАРИАНТ 2

In [29]:
len(data[data.revenue > data.budget])

1478

ВАРИАНТ 3

In [30]:
data[data.profit > 0].shape[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [31]:
answers['9'] = 'The Dark Knight (tt0468569)' # "+"

In [32]:
data[data.release_year == 2008].sort_values('profit', ascending=False)[
    ['original_title', 'imdb_id']].head(1)

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [33]:
answers['10'] = 'The Lone Ranger (tt1210819)' # "+"

In [34]:
data[(data.release_year > 2012) & (data.release_year <= 2014)].sort_values(
    'profit')[['original_title', 'imdb_id']].head(1)

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [35]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' # "+"

In [36]:
'''A new dictionary with all genres from the dataset is created'''
genres_dict={}
for string in data.genres:
    for genre in string.split('|'):
        generate_dict(genres_dict, genre)
           
'''The most common genre is found'''
max_value(genres_dict)

{'Drama': 782}

ВАРИАНТ 2

In [37]:
'''A new dictionary for every mentioning of a genre is created'''
single_genre={'genres':[]}
for string in data.genres:
    for genre in string.split('|'):
        single_genre['genres'].append(genre)

'''A new dataframe is created based on the dictionary.'''
genres_df=pd.DataFrame(data=single_genre)
genres_df.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [38]:
answers['12'] = 'Drama' # "+"

In [39]:
'''A new dataframe with profitable movies is created'''
data_profit=data[data.profit > 0].genres

genres_profit={}
'''Genres mentioned for profitable movies are counted'''
for string in data_profit:
    for genre in string.split('|'):
        generate_dict(genres_profit, genre)

'''The most profitable genre is found'''        
max_value(genres_profit)

{'Drama': 560}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [40]:
answers['13'] = 'Peter Jackson' # "+"

In [41]:
'''A new dictionary for every director and total revenue for all 
    his/her movies is created'''
dir_revenue={}
for i in data.index:
    for director in data.director[i].split('|'):
        generate_dict(dir_revenue, director, value=data.revenue[i])

max_value(dir_revenue)

{'Peter Jackson': 6490593685}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
answers['14'] = 'Robert Rodriguez' # "+"

In [43]:
directors=[]
for i in data.index:
    if 'Action' in data.genres[i]:
        for director in data.director[i].split('|'):
            directors.append(director)

Counter(directors).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [44]:
answers['15'] = 'Chris Hemsworth' # "+"

In [45]:
'''A new dictionary for every actor/actress and total revenue for all 
    his/her movies is created'''
actors_2012={}
data_2012=data[data.release_year == 2012]
for i in data_2012.index:
    for actor in data_2012.cast[i].split('|'):
        generate_dict(actors_2012, actor, value=data.revenue[i])

max_value(actors_2012)

{'Chris Hemsworth': 2027450773}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [46]:
answers['16'] = 'Matt Damon' # "+"

In [47]:
'''A new dictionary for every actor/actress and and the number of movies 
    he/she was casted is created'''
actors={}
for i in data.index: 
    if data.budget[i] > data.budget.mean():
        for actor in data.cast[i].split('|'):
            generate_dict(actors, actor)

max_value(actors)

{'Matt Damon': 18}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [48]:
answers['17'] = 'Action' # "+"

In [49]:
'''A new dictionary for every movie genre Nicolas Cage was casted 
    is created'''
Cage_genres={}
for i in data.index: 
    if 'Nicolas Cage' in data.cast[i]:
        for genre in data.genres[i].split('|'):
            generate_dict(Cage_genres, genre)
            
max_value(Cage_genres)

{'Action': 17}

# 18. Самый убыточный фильм от Paramount Pictures

In [50]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'   # "+"

In [51]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(
    'profit')[['original_title', 'imdb_id']].head(1)

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [52]:
answers['19'] = '2015'   # "+"

In [53]:
data.pivot_table(index='release_year', values='revenue', 
        aggfunc='sum').sort_values('revenue', ascending=False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [54]:
answers['20'] = '2014'  # "+"

In [55]:
data[data.production_companies.str.contains('Warner Bros')].pivot_table(
    index='release_year', values='profit', aggfunc='sum').sort_values(
    'profit', ascending=False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [56]:
answers['21'] = 'Сентябрь' # "+"

In [57]:
'''A new dictionary with the number of movies filmed in each month
    is created'''
best_month={}
for i in data.index:
    generate_dict(best_month, data.release_date[i].month)
             
max_value(best_month)

{9: 227}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [58]:
answers['22'] = '450' # "+"

In [59]:
'''Dictionary "best_month" form previous task is used'''
best_month[6]+best_month[7]+best_month[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [60]:
answers['23'] = 'Peter Jackson' # "+"

In [61]:
'''A new dictionary for every director, whose movies were released 
    during winter is created'''
winter_directors={}
for i in data.index: 
    if data.release_date[i].month in [1, 2, 12]:
        for director in data.director[i].split('|'):
             generate_dict(winter_directors, director)

max_value(winter_directors)

{'Peter Jackson': 7}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [62]:
answers['24'] = 'Four By Two Productions' # "+"

In [63]:
'''A new dataframe for the everage length of a titel of every film 
    of each production company is created'''
prod_title_len = {}
k = 0
for i in data.index:
    for prod in data.production_companies[i].split('|'):
        k += 1
        prod_title_len[k] = [prod, len(data.original_title[i])]

title_len=pd.DataFrame.from_dict(prod_title_len, orient='index', 
                       columns=['production_companies','len_title'])
title_len.pivot_table(index='production_companies', values='len_title', 
        aggfunc='mean').sort_values('len_title', ascending=False).head(1)

                         len_title
production_companies
Four By Two Productions       83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [64]:
answers['25'] = 'Midnight Picture Show' # "+"

In [65]:
'''A new dataframe for the everage length of the overview of every film 
    of each production company is created'''
prod_overview_len={}
k = 0
for i in data.index:
    for prod in data.production_companies[i].split('|'):
        k += 1
        prod_overview_len[k] = [prod, len(data.overview[i].split())]

overview_len=pd.DataFrame.from_dict(prod_overview_len, orient='index', 
                       columns=['production_companies','len_overview'])
overview_len.pivot_table(index='production_companies', values='len_overview', 
    aggfunc='mean').sort_values('len_overview', ascending=False).head(1)

                       len_overview
production_companies
Midnight Picture Show         175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [66]:
 answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # "+"

In [67]:
data[['original_title', 'imdb_id', 'vote_average']].sort_values(
    'vote_average', ascending=False).head(round(len(data)/100))

                                     original_title    imdb_id  vote_average
599                                 The Dark Knight  tt0468569           8.1
118                                    Interstellar  tt0816692           8.0
125                              The Imitation Game  tt2084970           8.0
9                                        Inside Out  tt2096673           8.0
34                                             Room  tt3170832           8.0
1183                        The Wolf of Wall Street  tt0993846           7.9
128                                       Gone Girl  tt2267998           7.9
1191                               12 Years a Slave  tt2024544           7.9
119                         Guardians of the Galaxy  tt2015381           7.9
1081  The Lord of the Rings: The Return of the King  tt0167260           7.9
1800                                        Memento  tt0209144           7.9
370                                       Inception  tt1375666           7.9
872                                     The Pianist  tt0253474           7.9
138                        The Grand Budapest Hotel  tt2278388           7.9
1188                                            Her  tt1798709           7.8
28                                        Spotlight  tt1895587           7.8
124                                      Big Hero 6  tt2245084           7.8
177                          The Fault in Our Stars  tt2582846           7.8
863           The Lord of the Rings: The Two Towers  tt0167261           7.8

ВАРИАНТ 2

In [68]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)[
    'vote_average']][['original_title', 'imdb_id', 'vote_average']].sort_values(
    'vote_average', ascending=False)

                                     original_title    imdb_id  vote_average
599                                 The Dark Knight  tt0468569           8.1
9                                        Inside Out  tt2096673           8.0
34                                             Room  tt3170832           8.0
118                                    Interstellar  tt0816692           8.0
125                              The Imitation Game  tt2084970           8.0
119                         Guardians of the Galaxy  tt2015381           7.9
128                                       Gone Girl  tt2267998           7.9
138                        The Grand Budapest Hotel  tt2278388           7.9
370                                       Inception  tt1375666           7.9
872                                     The Pianist  tt0253474           7.9
1081  The Lord of the Rings: The Return of the King  tt0167260           7.9
1183                        The Wolf of Wall Street  tt0993846           7.9
1191                               12 Years a Slave  tt2024544           7.9
1800                                        Memento  tt0209144           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [69]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'  # "+"

In [70]:
'''A new dictionary for every actor/actress pair casted in one movie 
is created'''
actors_pair={}
for x in data.index:
    actors=data.cast[x].split('|')
    if len(actors)>1:
        k=0
        for i in range(len(actors)-1):
            k+=1
            for j in range(len(actors)):
                actor1=sorted([actors[i], actors[j+k]])[0]
                actor2=sorted([actors[i], actors[j+k]])[1]
                pair=str(actor1 + ' & ' + actor2)
                generate_dict(actors_pair, pair)
                if (j+k)==(len(actors)-1):
                    break
                    
max_value(actors_pair)

{'Daniel Radcliffe & Rupert Grint': 8,
 'Daniel Radcliffe & Emma Watson': 8,
 'Emma Watson & Rupert Grint': 8}

ВАРИАНТ 2

In [71]:
'''The second variant is much faster than the first one
    (40.5 ms vs 6.22 s)'''
from itertools import combinations
actors_pair_list=[]

for x in data.index:
    actors=data.cast[x].split('|')
    actors_pair_list_x = list(combinations(actors, 2))
    for pair in actors_pair_list_x:
        actors_pair_list.append(pair)

Counter(actors_pair_list).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

27